canvas {
    background-image: url("./images/background1");
    background-repeat: no repeat;
    background-position: bottom;
    background-size: cover;
    margin: 10px;
    margin-bottom: 1px;
}

#score {
    color: red;
    text-align: center;
}

div {
    background-image: url("./images/background1");
    width: 1400px;
    height: 650px;
    text-align: center;
    color: black;
    background-repeat: no repeat;
    background-position: bottom;
    background-size: cover;
    padding: 40px;
}